body,
html {
  height: 100vh;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 34, 68, 1) 52%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Nav Bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.767);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav {
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Index Page */
.index {
  background: url("/static/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.greeting-container {
  text-align: center;
}

.greeting {
  color: white;
  font-size: 6.5vw;
  display: inline-block;
  position: relative;
}

.greeting-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.btn-group,
.btn-group-vertical {
  margin-top: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

center {
  display: block;
  text-align: -webkit-center;
}

.buffer .btn {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-danger.outline {
  color: red;
  border: 2px solid red;
  background: rgba(0, 0, 0, 0.5);
}

.btn-danger:hover {
  background: red;
  color: black;
}

.btn-info.outline {
  color: #4dc3ff;
  border: 2px solid #4dc3ff;
  background: rgba(0, 0, 0, 0.5);
}

.btn-info:hover {
  background: #4dc3ff;
  color: black;
}

.btn-warning.outline {
  color: #00a2ff;
  border: 2px solid #00a2ff;
  background: rgba(0, 0, 0, 0.5);
}

.btn-warning:hover {
  background: #00a2ff;
  color: black;
}

.btn-success.outline {
  color: #d6d6d6;
  border: 2px solid #d6d6d6;
  background: rgba(0, 0, 0, 0.5);
}

.btn-success.outline:hover {
  background: #d6d6d6;
  color: black;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
}
/* About Me Page */

.container,
.row-tech {
  color: white;
}
.row h1 {
  font-size: 100px;
}

.row i {
  font-size: calc(50px + 0.5vw);
}

.container h2 {
  margin-bottom: 20px;
}
.col-sm i {
  margin-top: 100px;
}

.row p {
  margin-top: 5%;
}

/* Resume Page */
.resume {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline;
}
.btn a {
  color: white;
}
.border-bottom {
  color: white;
}
.row h6,
img {
  margin-bottom: 20px;
}
#education,
#work,
#projects {
  margin-bottom: 50px;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}

/* Responsiveness */
@media screen and (max-width: 1500px) {
  .row-tech {
    text-align: center;
  }
  .column {
    width: 50%;
  }
  .column-art {
    width: 100%;
  }
  .left,
  .right {
    float: none;
    display: inline;
  }
  .right {
    margin-left: 30%;
  }
}

@media screen and (max-width: 750px) {
  .row-tech {
    text-align: center;
  }
  .column {
    width: 75%;
  }
  .column-art {
    width: 100%;
  }
  .left,
  .right {
    float: none;
    display: inline;
  }
  .right {
    margin-left: 30%;
  }
}

@media screen and (max-width: 500px) {
  .row-tech {
    text-align: center;
  }
  .column {
    width: 75%;
  }
  .column-art {
    width: 100%;
  }
  .left,
  .right {
    float: none;
    display: inline;
  }
  .right {
    margin-left: 30%;
  }
}
