body,
html {
  height: 100%;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  background-color: #181818;
}

.parallax {
  background-image: url("/static/images/background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.greeting-container {
  text-align: center;
}

.greeting {
  color: white;
  font-size: 100px;
  display: inline-block;
  position: relative;
}

.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: rgb(39, 37, 35);
}
.active {
  background-color: 0070c0;
  color: #f2f2f2;
}

.about-text {
  display: inline-flex;
  vertical-align: top;
}

.main {
  flex: 1;
  text-align: center;
  color: white;
}
.main h1 {
  font-size: 10rem;
}

.image {
  flex: 1;
  width: 100 vw;
}
.column {
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-top: 1%;
}
.row {
  padding-bottom: 1%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-art {
  float: left;
  margin-left: 10%;
  margin-right: auto;
  width: 33.3%;
  padding: 0.625rem;
}

.row-art:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1500px) {
  .column-art {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .column-art {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .column-art {
    width: 100%;
  }
}
